@model Invitation

@Html.ValidationSummary()

@if (Model != null && ViewData.ModelState.IsValid)
{
    <div>
        <h4>Invitation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OpenInvite)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OpenInvite)
            </dd>
        </dl>
    </div>
    @using (Html.BeginForm())
    {
        var recipientId = ViewData["RecipientId"];
        var invitationId = ViewData["InvitationId"];
        var token = ViewData["Token"];
        var poolId = ViewData["PoolId"];
        @Html.Hidden("RecipientId", recipientId)
        @Html.Hidden("Token", token)
        @Html.Hidden("InvitationId", invitationId)
        @Html.Hidden("PoolId", poolId)
        <input type="submit" value="Join" class="btn btn-default" />
        }
    }
