@model TDYW.Models.Invitee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invitee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Invitation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invitation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
